<ul id="side-wrap">
    <div id="side-title">Delivery Tracker</div>
    <li class="menu">
        <span class="menu-title">User</span>
        <ul class="menu-list">
            <li class="menu-items" name="userList"><a href="/admin/user-list?accessToken=<%- accessToken.id %>">User List</a></li>
            <li class="menu-items" name="registerUser"><a href="/admin/register-user?accessToken=<%- accessToken.id %>">Register User</a></li>
        </ul>
    </li>
    <li class="menu">
        <span class="menu-title">Carrier & Delivery</span>
        <ul class="menu-list">
            <li class="menu-items" name="carrierList"><a href="/admin/carrier-list?accessToken=<%- accessToken.id %>">Carrier List</a></li>
            <li class="menu-items">Delivery List</li>
        </ul>
    </li>
    <li class="menu">
        <span class="menu-title">Log</span>
        <ul class="menu-list">
            <li class="menu-items">Failure Log</li>
        </ul>
    </li>
</ul>