<ul id="side-wrap">
    <div id="side-title">Delivery Tracker</div>
    <li class="menu">
        <span class="menu-title">User</span>
        <ul class="menu-list">
            <li class="menu-items" name="userList"><a href="/admin/user-list?accessToken=<%- accessToken.id %>">User List</a></li>
            <li class="menu-items" name="registerUser"><a href="/admin/register-user?accessToken=<%- accessToken.id %>">Register User</a></li>
        </ul>
    </li>
    <li class="menu">
        <span class="menu-title">Carrier & Delivery</span>
        <ul class="menu-list">
            <li>Carrier List</li>
            <li>Delivery List</li>
        </ul>
    </li>
    <li class="menu">
        <span class="menu-title">Log</span>
        <ul class="menu-list">
            <li>Failure Log</li>
        </ul>
    </li>
</ul>

<script>
$(document).ready(function(){
    $nav = $('.menu-items[name="'+nav+'"]');

    $nav.parents(".menu").addClass("menu-on");
    $nav.parents(".menu").find('.menu-title').addClass("menu-title-on");
    $nav.parent(".menu-list").addClass("menu-list-on");
    $nav.addClass("menu-items-on");
});
</script>