<div class="content-title-wrap">
    <img class="content-title-img" src="/static/img/admin/iconfinder_Rounded-31_2024644.png"/>
    <div class="content-title">
        <span class="content-main-title">User List</span> 
        <span class="content-sub-title">Search for users.</span>
    </div>
</div>

<form class="submit-form" action="/api/users" method="get">
<div class="search-form">
    <div class="search-title">
        Search User
    </div>
    <div class="search-detail-form">
        <div id="search-word" class="search-detail">
            <div class="search-detail-title">Search Word</div>
            <div class="search-detail-contents select-box-wrap">
                <button type="button" id="search-word-type" class="form-control select-button">
                    Email
                </button>
                <ul class="form-control select-box">
                    <li class="select-box-items">Email</li>
                    <li class="select-box-items">UserName</li>
                </ul>
                <input id="search-word-value" class="form-control" type="text"/>
            </div>
        </div>
        <div id="user-role" class="search-detail">
            <div class="search-detail-title">User Role</div>
            <div class="search-detail-contents select-box-wrap">
                <button type="button" id="user-role-value" class="form-control select-button">
                    All
                </button>
                <ul class="form-control select-box">
                    <li class="select-box-items">All</li>
                    <li class="select-box-items">Admin</li>
                    <li class="select-box-items">User</li>
                </ul>
            </div>
        </div>
        <br/>
        <div id="registration-date" class="search-detail">
            <div class="search-detail-title">User Registration Date</div>
            <div class="search-detail-contents">
                <div class="date-picker-wrap">
                    <input type="text" id="datepicker1"> ~
                    <input type="text" id="datepicker2">
                </div>
            </div>
        </div>
        <button class="btn submit-btn" type="submit">Search</button>
    </div>
</div>
</form>

<div class="search-result">
    <!--
        ex) 

        <table class="table">
        <thead>
            <tr>
                <th>email</th>
                <th>username</th>
                <th>tel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@admin.com</td>
                <td>admin</td>
                <td>xxx-xxxx</td>
            </tr>
        </tbody>
    </table>
    -->
    
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">User Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="search-form">
                <div class="search-detail-form">
                    <div class="search-detail">
                        <div class="search-detail-title">Email</div>
                        <div class="search-detail-contents select-box-wrap">
                            <span id="modal-email" class="form-control form-control-readionly"></span>
                        </div>
                    </div>
                    <div class="search-detail">
                        <div class="search-detail-title">UserName</div>
                        <div class="search-detail-contents select-box-wrap">
                            <input id="modal-username" class="form-control" type="text" value="admin" />
                        </div>
                    </div>
                    <div class="search-detail">
                            <div class="search-detail-title">RegDate</div>
                            <div class="search-detail-contents select-box-wrap">
                                <span id="modal-regdate" class="form-control form-control-readionly"></span>
                            </div>
                        </div>
                    <div class="search-detail">
                        <div class="search-detail-title">Tel</div>
                        <div class="search-detail-contents select-box-wrap">
                            <input id="modal-tel" class="form-control" type="text" value="xxxx-xxx" />
                        </div>
                    </div>
                    <div id="model-user-role" class="search-detail">
                        <div class="search-detail-title">User Role</div>
                        <div class="search-detail-contents select-box-wrap">
                            <button type="button" id="modal-role" class="form-control select-button">
                                Admin
                            </button>
                            <ul class="form-control select-box">
                                <li class="select-box-items">Admin</li>
                                <li class="select-box-items">User</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modify-sumbit" class="btn btn-white">Save changes</button>
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>

    function appendModal(data){
        var $form = $('.modal-body').find('.search-detail-form');
        
        $form.find('#modal-email').text(data.email);
        $form.find('#modal-username').val(data.username);
        $form.find('#modal-regdate').text(data.regdate);
        $form.find('#modal-tel').val(data.tel);
        $form.find('#modal-role').text(data.role);
        

        $('.modal').modal('show');
    }

    function searchUserInfo($info){
        var email = $info.text();
        var url = "/api/users/"+email;
        var data = {
            "include": {
                "relation": "roleMapping",
                "scope": {
                    "fields": ["roleId"],
                    "include": {
                        "relation": "role",
                        "scope": {
                            "fields": ["name"]
                        }
                    }
                }
            }
        };

        $.ajax({
            url: url,
            type: 'get',
            data: { access_token:accessToken, filter:JSON.stringify(data) },
            success: function(res){
                appendModal(classification(res));


            },error: function(e){
                console.log(e);
            }
        });
    }

    function appendHtml(data){
        var html = '<table class="table">';
        var userKey = [];

        var thead = '<thead><tr>';
        for(key in data[0]){
            userKey.push(key);

            thead += '<th>'+key+'</th>';
        }
        thead += '</tr></thead>';

        html += thead;

        var tbody = '<tbody>';
        for(key in data){
            var user = data[key];
            tbody += '<tr>'

            for(var i=0;i<userKey.length;i++){
                tbody += '<td data-identifier='+userKey[i]+'>'+user[userKey[i]]+'</td>';
            }

            tbody += '</tr>';
        }
        tbody += '</tbody>';
        
        html += tbody;

        $('.search-result').html(html);

        $('.table').find("tbody").find("tr").on('click',function(e){
            searchUserInfo($(this).find("td[data-identifier=email]"));
        })
    }

    function validate($serachWord,type,date){
        var serachWordValue = $serachWord.val();
        var regex = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
        var $datePickers = $('.hasDatepicker');
        var startDate = $datePickers[0].value;
        var endDate = $datePickers[1].value;

        if(serachWordValue.length > 0 && type == "email"){
            if(!regex.test(serachWordValue)){
                alert("email is not valid");
                $serachWord.focus();
                return false;
            }
        } 
        
        if(startDate != "" && startDate != null && startDate != undefined){
            date.push({regdate: {gt: startDate}});
        }
        
        if(endDate != "" && endDate != null && endDate != undefined){
            date.push({regdate: {lt: endDate}});
        }

        return true;
    }

    function classification(data){
        var result = [];

        function test(a){
            if(a.roleMapping[0].role){
              a.role = a.roleMapping[0].role.name ;
              delete a.roleMapping

              result.push(a);
            } 
        }

        if(data instanceof Array){
            for(key in data){
                test(data[key]);
            }

            return result;
        }

        test(data);
        return result[0];

        
            // if(data[key].roleMapping[0].where.and.role){
            //   data[key].role =  data[key].roleMapping[0].role.name ;
            //   delete data[key].roleMapping

            //   result.push(data[key]);
            // } 

        // return result;
    }

    function submit(self){
        var $role = $('#user-role-value');
        var $serachWord = $('#search-word-value');

        var role = $role.text().trim().toLowerCase();
        var type = $('#search-word-type').text().trim().toLowerCase();
        var word = $serachWord.val();
        var date = [];

        if(!validate($serachWord,type,date)) return false;

        var url = self.action;
        var methodType = self.method;
        var where = {};
        var roleWhere = {};

        if(role == "all"){
            roleWhere = {};
        }else{
            roleWhere["name"] = role;
        }


        if(date.length > 0){
            where['and'] = date;
        }
                
        if(!(word == "" || word == null || word == undefined)){
            where[type] = word;
        }

        var data = {
            "where":where,
            "include": {
                "relation": "roleMapping",
                "scope": {
                    "fields": ["roleId"],
                    "include": {
                        "relation": "role",
                        "scope": {
                            "fields": ["name"],
                            "where": roleWhere
                        }
                    }
                }
            }
        };

        $.ajax({
            url: url,
            type: methodType,
            data: { access_token:accessToken, filter:JSON.stringify(data) },
            success: function(res){
                appendHtml(classification(res));
            },error: function(e){
                console.log(e);
            }
        });
    }

    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });

    $(document).ready(function(){
        $("#datepicker1, #datepicker2").datepicker();

        $('.select-button').on('click',function(e){
            var $selectBox =  $(this).siblings('.select-box');

            if(e.detail == 0) return false;

            if($selectBox.css('display') == "block") $selectBox.hide();
            else $selectBox.show();
           
        });

        $('.select-box-wrap').on('mouseleave',function(e){
            var $selectBox = $(this).children('.select-box');
            
            if($selectBox.css('display') == "block") $selectBox.hide();
        });

        $('.select-box-items').on('click',function(e){
            var $self = $(this);
            var $selectBox =  $self.parent('.select-box');
            var $selectButton = $selectBox.siblings('.select-button');

            if($selectBox.css('display') == "block") $selectBox.hide();
            
            $selectButton.text($self.text());
        });

        $('.submit-form').on('submit',function(e){
            e.preventDefault();

            submit(this);    
        });


        $("#modify-sumbit").on('click',function(e){
            var $form = $('.modal-body').find('.search-detail-form');
        
            var e = $form.find('#modal-email').text();
            var u = $form.find('#modal-username').val();
            var t = $form.find('#modal-tel').val();
            var r = $form.find('#modal-role').text().trim().toLowerCase();
        }); 
    });
</script>