<div class="content-title-wrap">
    <img class="content-title-img" src="/static/admin/iconfinder_Rounded-31_2024644.png"/>
    <div class="content-title">
        <span class="content-main-title">User List</span> 
        <span class="content-sub-title">Search for users.</span>
    </div>
</div>
<div class="search-form">
    <div class="search-title">
        Search User
    </div>
    <div class="search-detail-form">
        <div class="search-detail">
            <div class="search-detail-title">Search Word</div>
            <div class="search-detail-contents">
                <button class="form-control">
                    Test Option
                </select>
            </div>
        </div>
    </div>
</div>