{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "Email": {
    "name": "mail",
    "connector": "mail",
    "transports": [{
      "type": "SMTP",
      "host": "smtp.gmail.com",
      "secure": true,
      "port": 465,
      "auth": {
        "user": "yourMail@gmail.com",
        "pass": "password"
      }
    }]
  }
}
