* {margin: 0; padding: 0; border: 0;font-family: 'Quicksand', sans-serif;}


#header{
    display: none;
    position: fixed;
    width: 100%;
    min-height: 70px;
    z-index: 1;
}

#header #header-wrap{
    background-color: #253544;
    font-weight: bold;
    font-size: 25px;
    color:#fff;
    padding: 20px 10px;
}
#header #header-wrap #header-menu{
    cursor: pointer;
    float: left;
}

#header #header-wrap #header-title{
    text-align: center;
}

#side{
    display: block;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
}   

#side li{list-style: none;}

#side #side-wrap{
    background-color: #253544;
    width: 250px;
    height:100%;
}

#side #side-wrap #side-title{
    font-weight: bold;
    font-size: 25px;
    color:#fff;
    padding: 20px 10px;
}
#side #side-wrap .menu{
    position: relative;
    color: #b7c0cd;
    cursor: pointer;
}
#side #side-wrap .menu > *{
    cursor: pointer;
}

#side #side-wrap .menu.menu-on{
    border-left: 3px solid #42a5f5;
}
#side #side-wrap .menu .menu-title{
    font-weight: bold;
    padding: 10px 0 10px 30px;
    font-size: 18px;
    display: block;
}
#side #side-wrap .menu .menu-title::after{
    content: "\02C3";
    position: absolute;
    right: 20px;
    top: 14px;
}
#side #side-wrap .menu .menu-on .menu-title{
    background-color:#1d2531;
}
#side #side-wrap .menu.menu-on .menu-title::after{
    content: "\02C5";
    position: absolute;
    right: 20px;
    top: 14px;
}

#side #side-wrap .menu .menu-list{
    position: relative;
    padding: 10px 0 10px 40px;
    display: none;
}
#side #side-wrap .menu .menu-list a{
    text-decoration: none;
    color:#b7c0cd;
}
#side #side-wrap .menu.menu-on .menu-list{
    background-color: #212d3a;
    display: block;
}
#side #side-wrap .menu .menu-list .menu-items {
    position: relative;
    margin: 5px 0;
}
#side #side-wrap .menu .menu-list .menu-items.menu-items-on{
    color: #42a5f5;
}
#side #side-wrap .menu .menu-list .menu-items.menu-items-on a{
    color: #42a5f5;
}
#side #side-wrap .menu .menu-list .menu-items::before{
    content: "\02C3";
    position: absolute;
    left: -11px;
    top: 5px;
}


#content{
    margin-left: 250px;
    background-color: #f2f7fb;
    padding: 20px 20px;
    min-height: 100vh;

}

#content .content-title-wrap{
    padding: 20px 0;
    font-weight: bold;

}

#content .content-title-wrap .content-title-img{
    width: 50px;
    margin-right: 10px;
}

#content .content-title-wrap .content-title{
    display: inline-block;
    vertical-align: top;
}


#content .content-title-wrap .content-title > span {
    display: block;
}
#content .content-title-wrap .content-title .content-main-title{
    font-size: 25px;
}
#content .content-title-wrap .content-title .content-sub-title{
    
}

.search-form{
    background-color: #fff;
    box-shadow: 0 0 5px #cacaca;
    padding: 15px 20px;
}
.search-form .search-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
    position: relative;
}
.search-form .search-title::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 50px;
    background-color: #d2d2d2;
    height: 1px;
}

.search-form .search-detail-form .search-detail{
    display: inline-block;
    margin: 20px 25px 20px 0;
}
.search-form .search-detail-form .search-detail .search-detail-title{
    display: inline-block;
    margin-right: 30px;
    position: relative;
}
.search-form .search-detail-form .search-detail .search-detail-title::after{
    content: "|";
    position: absolute;
    right: -15px;
}
.search-form .search-detail-form .search-detail .search-detail-contents{
    display: inline-block;
}
.search-form .search-detail-form .search-detail .search-detail-contents #search-word-value{
    min-width: 228px;
}

.search-result{
    background-color: #fff;
    box-shadow: 0 0 5px #cacaca;
    padding: 15px 20px;
    box-shadow: 0 0 5px #cacaca;
    margin-top:30px;
    overflow: scroll;
}


.form-control{
    padding: 10px 30px 10px 20px;
    position: relative;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #969696;
}
.form-control::after{
    content: "\02C5";
    position: absolute;
    right: 13px;
    top: 14px;
}
.form-control-readionly{
    background-color: #f3f3f3;    
}
.form-control-readionly::after{
    content: "x";
    position: absolute;
    right: -17px;
    top: 8px;
}
.form-control.big{
    width: 300px;
}



.select-box-wrap{
    position: relative;
}
.select-box-wrap .select-button{
    cursor: pointer;
}   
.select-box-wrap .select-box{
    position: absolute;
    list-style: none;  
    display: none;
    z-index: 1;
    top: 39px;
    padding: 0 30px 0 20px;
}
.select-box-wrap .select-box > li{
    margin: 10px 0;
}
.select-box-wrap .select-box::after{
    content: none;
}

.date-picker-wrap{
    position: relative;
    border: 1px solid #969696;
}

.date-picker-wrap .date-picker{
    display: inline-block;
    height: 40px;
}

.hasDatepicker{
    text-align: center;
    font-size: 14px;
    height: 100%;
    cursor: pointer;
}

.btn{
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    position: relative;
    font-size: 16px;
    background-color: #253544;
    color: #fff;
    border: 1px solid #253544;
}

.btn-white{
    background-color: #fff;
    color: #253544;
}

.submit-btn{
    display: block;
    margin: 20px auto;
}

.table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.table > thead{
    font-weight: bold;
    font-size: 18px;
}
.table > thead > tr{
    border-bottom: 1px solid #b5b5b5;
}
.table > tbody > tr{
    cursor: pointer;
    border-bottom: 1px solid #d6dde1
}
.table th,td{
    padding: 10px 20px;
}



.modal{
    display:none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow-y: scroll;
}

.modal .modal-dialog{
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #636363;
}

.modal .modal-dialog .modal-header{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}


.modal .modal-dialog .modal-header .modal-title{
    font-size: 22px;
    display: inline;
}

.modal .modal-dialog .modal-header .close{
    float: right;
    line-height: 1;
    font-size: 27px;
    background-color: #fff;
}

.modal .modal-dialog .modal-body{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}   
.modal .modal-dialog .modal-body > .search-form{
    background-color: #fff;
    box-shadow: none;
    padding: 0;
}

.modal .modal-dialog .modal-footer{
    padding: 20px;
    text-align: right;
}

.modal .modal-dialog .modal-footer > button {
    border-radius: 3px !important;
}
